<a href="https://colab.research.google.com/github/VyDuong162/Movie-recommendation-system-base-on-sentiment-analysis/blob/main/preprocessing3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path_dir = '/content/drive/MyDrive/LV/RecommenderSYS/datasets'

## Task 1: Extracting movies data

-  ### Subtask 1.1: Import and read 2018 movies from Wikipedia

In [ ]:
link="https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
df1 = pd.read_html(link)[2]
df2 = pd.read_html(link)[3]
df3 = pd.read_html(link)[4]
df4 = pd.read_html(link)[5]

In [ ]:
data_18 = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [ ]:
data_18

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],NaN
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN
...,...,...,...,...,...,...,...
267,DECEMBER,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...,NaN,[164]
268,DECEMBER,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,NaN,[137]
269,DECEMBER,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,NaN,[228]
270,DECEMBER,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",NaN,[260]
271,DECEMBER,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...,NaN,[261]

In [ ]:
!pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.6-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.6

In [ ]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '1974662aed9fdffb3ac0d19b14b68349'
from tmdbv3api import Movie
tmdb_movie = Movie()

In [ ]:
Movie().search('Stratton')

[{'adult': False, 'backdrop_path': '/A1h8T4gIVwQFomMUaMF7Yah7K9R.jpg', 'genre_ids': [28, 53], 'id': 348389, 'original_language': 'en', 'original_title': 'Stratton', 'overview': 'A British Special Boat Service commando tracks down an international terrorist cell.', 'popularity': 19.661, 'poster_path': '/mibBHS9mVV2z5rdeFdOkH94Sw1c.jpg', 'release_date': '2017-07-06', 'title': 'Stratton', 'video': False, 'vote_average': 5, 'vote_count': 173},
 {'adult': False, 'backdrop_path': '/A9cz3ZrsrFT7NgTZNgYevHIfjwF.jpg', 'genre_ids': [18, 10749], 'id': 43440, 'original_language': 'en', 'original_title': 'The Stratton Story', 'overview': 'Star major league pitcher Monty Stratton loses a leg in a hunting accident, but becomes determined to leave the game on his own terms.', 'popularity': 3.118, 'poster_path': '/lAEyw8xDCvXY9qsEZCrP2btqatv.jpg', 'release_date': '1949-05-12', 'title': 'The Stratton Story', 'video': False, 'vote_average': 6.8, 'vote_count': 24},
 {'adult': False, 'backdrop_path': '/lMAtn91tpW7Mwf2OAIGVETAVX8f.jpg', 'genre_ids': [99], 'id': 441863, 'original_language': 'en', 'original_title': 'David Stratton: A Cinematic Life', 'overview': 'A compelling personal journey with David Stratton, as he relates the fascinating development of our cinema history. David guides us from his boyhood cinema experience of Australia in England, where he saw the first images of this strange and exotic landscape via the medium of film, to his migration to Australia as a â€˜ten pound pomâ€™ in 1963 and onto his present day reflections on the iconic themes that run through our cinematic legacy. All of this reflects a passionate engagement in a uniquely Australian medium. Parallel and at the heart of the series is the story of an industry whose growing pains David has witnessed over a lifetime. Alongside David, the protagonists of this history are the giants of Australian cinema â€“ both behind the camera and in front of it.', 'popularity': 1.366, 'poster_path': '/dW5Q9JPZbnojNghiaSiAZC4NjZJ.jpg', 'release_date': '2017-03-09', 'title': 'David Stratton: A Cinematic Life', 'video': False, 'vote_average': 3.8, 'vote_count': 5},
 {'adult': False, 'backdrop_path': '/5GLvoLxCHZAO7eakisMQH0xJWWO.jpg', 'genre_ids': [18, 36, 10749], 'id': 896267, 'original_language': 'en', 'original_title': 'Jessie: The Golden Heart', 'overview': "Set in the 1800's of Scotland when servants didn't rise above their station comes a love story for the ages. As the master of Stratton castle lies dying he makes his son promise to take over the lands and find an appropriate match, however, unbeknownst to his father, Walter has already fallen in love with Jessie, a beautiful servant girl. Now he must fight against his forbidden passion for fear of scandal and ruin or risk it all for Jessie the Golden Hearted.", 'popularity': 0.6, 'poster_path': '/deYyLvEpIh1oi2Dl9o0LRk7N6xi.jpg', 'release_date': '2021-11-12', 'title': 'Stratton Castle: Tale of Jessie Goldenheart', 'video': False, 'vote_average': 0, 'vote_count': 0}]

In [ ]:
#function get genre from api tmdb
def get_genre(x):
  genres = []
  result = tmdb_movie.search(x)
  if not result:
      return np.NaN
  else:
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
      genres_str = " "
      for i in range(0, len(data_json['genres'])):
          genres.append(data_json['genres'][i]['name'])
      return genres_str.join(genres)
    else:
      return np.NaN

In [ ]:
get_genre('Stratton')

'Action Thriller'

In [ ]:
data_18['genres'] = data_18['Title'].map(lambda x: get_genre(str(x)))

In [ ]:
df_2018 = data_18[['Title','Cast and crew','genres']]

In [ ]:
df_2018

,Title,Cast and crew,genres
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery
...,...,...,...
267,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,Mystery Adventure Comedy Crime
268,Vice,Adam McKay (director/screenplay); Christian Ba...,Thriller Science Fiction Action Adventure
269,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History
270,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Thriller Crime Drama Action
271,Black Mirror: Bandersnatch,David Slade (director); Charlie Brooker (scree...,Science Fiction Mystery Drama Thriller TV Movie

In [ ]:
df_2018['Cast and crew'][0]

'Adam Robitel (director); Leigh Whannell (screenplay); Lin Shaye, Angus Sampson, Leigh Whannell, Spencer Locke, Caitlin Gerard, Kirk Acevedo, Bruce Davison'

In [ ]:
# function get director
def get_director(x):
  if " (director)" in x:
    return x.split(" (director)")[0]
  elif " (directors)" in x:
    return x.split(" (directors)")[0]
  else:
    return x.split(" (director/screenplay)")[0]

In [ ]:
director = df_2018['Cast and crew'].map(lambda x: get_director(x))

In [ ]:
df_2018['director_name'] = director

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def get_actor(x):
  return ((x.split("screenplay); ")[-1]).split(", "))[:3]

In [ ]:
get_actor(df_2018['Cast and crew'][2])[0]

'Dominic Cooper'

In [ ]:
actors = df_2018['Cast and crew'].map(lambda x: get_actor(x))

In [ ]:
actors = pd.DataFrame(actors.to_list(), columns=['actor_1_name','actor_2_name','actor_3_name'])

In [ ]:
actors

        actor_1_name            actor_2_name    actor_3_name
0          Lin Shaye           Angus Sampson  Leigh Whannell
1      Alex Pettyfer  James Freedson-Jackson   Emily Althaus
2     Dominic Cooper          Austin Stowell      Gemma Chan
3        Bryan Brown               Sam Neill            None
4        Liam Neeson            Vera Farmiga  Patrick Wilson
..               ...                     ...             ...
267     Will Ferrell          John C. Reilly    Rebecca Hall
268   Christian Bale               Amy Adams    Steve Carell
269   Felicity Jones            Armie Hammer  Justin Theroux
270    Nicole Kidman          Sebastian Stan    Toby Kebbell
271  Fionn Whitehead            Will Poulter   Asim Chaudhry

[272 rows x 3 columns]

In [ ]:
df_2018 = pd.merge(df_2018, actors, left_index=True, right_index=True)

In [ ]:
df_2018

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western,Warwick Thornton,Bryan Brown,Sam Neill,None
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson
...,...,...,...,...,...,...,...
267,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,Mystery Adventure Comedy Crime,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall
268,Vice,Adam McKay (director/screenplay); Christian Ba...,Thriller Science Fiction Action Adventure,Adam McKay,Christian Bale,Amy Adams,Steve Carell
269,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux
270,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Thriller Crime Drama Action,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell
271,Black Mirror: Bandersnatch,David Slade (director); Charlie Brooker (scree...,Science Fiction Mystery Drama Thriller TV Movie,David Slade,Fionn Whitehead,Will Poulter,Asim Chaudhry

In [ ]:
df_2018['actor_1_name'][0].strip()

'Lin Shaye'

In [ ]:
round(df_2018.isnull().sum().sort_values(ascending=False)/len(df_2018)*100,2)

actor_3_name     9.93
actor_2_name     3.68
genres           0.74
Title            0.00
Cast and crew    0.00
director_name    0.00
actor_1_name     0.00
dtype: float64

In [ ]:
(df_2018.isnull().sum(axis=1).sort_values(ascending=False) >=2).sum()

10

In [ ]:
df_2018['genres'] = df_2018['genres'].fillna('')

In [ ]:
round(df_2018.isnull().sum().sort_values(ascending=False)/len(df_2018)*100,2)

actor_3_name     9.93
actor_2_name     3.68
Title            0.00
Cast and crew    0.00
genres           0.00
director_name    0.00
actor_1_name     0.00
dtype: float64

In [ ]:
df_2018['Title'] = df_2018['Title'].str.lower()

In [ ]:
df_2018 = df_2018.rename(columns={'Title':'movie_title'})

In [ ]:
new_df18 = df_2018.loc[:,['movie_title','director_name', 'genres','actor_1_name', 'actor_2_name','actor_3_name']]

In [ ]:
new_df18['comb'] = new_df18['director_name'] +' ' + new_df18['genres']+' '+ new_df18['actor_1_name'] + ' ' + new_df18['actor_2_name'] + ' '+ new_df18['actor_3_name']

In [ ]:
new_df18

,movie_title,director_name,genres,actor_1_name,actor_2_name,actor_3_name,comb
0,insidious: the last key,Adam Robitel,Horror Mystery Thriller,Lin Shaye,Angus Sampson,Leigh Whannell,Adam Robitel Horror Mystery Thriller Lin Shaye...
1,the strange ones,Lauren Wolkstein,Thriller Drama,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Lauren Wolkstein Thriller Drama Alex Pettyfer ...
2,stratton,Simon West,Action Thriller,Dominic Cooper,Austin Stowell,Gemma Chan,Simon West Action Thriller Dominic Cooper Aust...
3,sweet country,Warwick Thornton,Drama History Western,Bryan Brown,Sam Neill,None,NaN
4,the commuter,Jaume Collet-Serra,Action Thriller Mystery,Liam Neeson,Vera Farmiga,Patrick Wilson,Jaume Collet-Serra Action Thriller Mystery Lia...
...,...,...,...,...,...,...,...
267,holmes & watson,Etan Cohen,Mystery Adventure Comedy Crime,Will Ferrell,John C. Reilly,Rebecca Hall,Etan Cohen Mystery Adventure Comedy Crime Will...
268,vice,Adam McKay,Thriller Science Fiction Action Adventure,Christian Bale,Amy Adams,Steve Carell,Adam McKay Thriller Science Fiction Action Adv...
269,on the basis of sex,Mimi Leder,Drama History,Felicity Jones,Armie Hammer,Justin Theroux,Mimi Leder Drama History Felicity Jones Armie ...
270,destroyer,Karyn Kusama,Thriller Crime Drama Action,Nicole Kidman,Sebastian Stan,Toby Kebbell,Karyn Kusama Thriller Crime Drama Action Nicol...
271,black mirror: bandersnatch,David Slade,Science Fiction Mystery Drama Thriller TV Movie,Fionn Whitehead,Will Poulter,Asim Chaudhry,David Slade Science Fiction Mystery Drama Thri...

-  ### Subtask 1.2: Import and read 2019 movies from Wikipedia

In [ ]:
link="https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df1 = pd.read_html(link)[2]
df2 = pd.read_html(link)[3]
df3 = pd.read_html(link)[4]
df4 = pd.read_html(link)[5]

In [ ]:
data_19 = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [ ]:
data_19

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,4,Escape Room,Columbia Pictures / Original Film,"Adam Robitel (director); Bragi F. Schut, Maria...",[2]
1,JANUARY,4,Rust Creek,IFC Films,Jen McGowan (director); Julie Lipson (screenpl...,[3]
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4]
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5]
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6]
...,...,...,...,...,...,...
237,DECEMBER,25,Spies in Disguise,20th Century Fox / Blue Sky Studios / Chernin ...,"Nick Bruno, Troy Quane (directors); Brad Copel...",[132]
238,DECEMBER,25,Little Women,Columbia Pictures / Regency Enterprises,Greta Gerwig (director/screenplay); Saoirse Ro...,[221]
239,DECEMBER,25,1917,Universal Pictures / DreamWorks Pictures,Sam Mendes (director/screenplay); Krysty Wilso...,[222]
240,DECEMBER,25,Just Mercy,Warner Bros. Pictures / Participant Media,"Destin Daniel Cretton (director/screenplay), A...",[223]
241,DECEMBER,27,Clemency,Neon,Chinonye Chukwu (director/screenplay); Alfre W...,[224]

In [ ]:
data_19['genres'] = data_19['Title'].map(lambda x: get_genre(str(x)))

In [ ]:
df_2019 = data_19[['Title','Cast and crew','genres']]

In [ ]:
# function get director
def get_director(x):
  if " (director)" in x:
    return x.split(" (director)")[0]
  elif " (directors)" in x:
    return x.split(" (directors)")[0]
  else:
    return x.split(" (director/screenplay)")[0]

In [ ]:
director = df_2019['Cast and crew'].map(lambda x: get_director(x))

In [ ]:
get_actor(df_2019['Cast and crew'][2])[0]

'Donald Sutherland'

In [ ]:
df_2019

,Title,Cast and crew,genres
0,Escape Room,"Adam Robitel (director); Bragi F. Schut, Maria...",Horror Thriller Mystery
1,Rust Creek,Jen McGowan (director); Julie Lipson (screenpl...,Thriller Drama
2,American Hangman,Wilson Coneybeare (director/screenplay); Donal...,Thriller
3,A Dog's Way Home,Charles Martin Smith (director); W. Bruce Came...,Drama Adventure Family
4,The Upside,Neil Burger (director); Jon Hartmere (screenpl...,Comedy Drama
...,...,...,...
237,Spies in Disguise,"Nick Bruno, Troy Quane (directors); Brad Copel...",Animation Action Adventure Comedy Family
238,Little Women,Greta Gerwig (director/screenplay); Saoirse Ro...,Drama Romance
239,1917,Sam Mendes (director/screenplay); Krysty Wilso...,War Drama Action Thriller
240,Just Mercy,"Destin Daniel Cretton (director/screenplay), A...",Drama Crime History
241,Clemency,Chinonye Chukwu (director/screenplay); Alfre W...,Drama

In [ ]:
actors = df_2019['Cast and crew'].map(lambda x: get_actor(x))

In [ ]:
actors = pd.DataFrame(actors.to_list(), columns=['actor_1_name','actor_2_name','actor_3_name'])

In [ ]:
actors

            actor_1_name          actor_2_name      actor_3_name
0         Taylor Russell          Logan Miller  Deborah Ann Woll
1      Hermione Corfield           Jay Paulson      Sean O'Bryan
2      Donald Sutherland    Vincent Kartheiser     Oliver Dennis
3    Bryce Dallas Howard    Edward James Olmos   Alexandra Shipp
4         Bryan Cranston            Kevin Hart     Nicole Kidman
..                   ...                   ...               ...
237           Will Smith           Tom Holland     Rashida Jones
238        Saoirse Ronan           Emma Watson     Florence Pugh
239        George MacKay  Dean-Charles Chapman       Mark Strong
240    Michael B. Jordan            Jamie Foxx       Brie Larson
241        Alfre Woodard        Wendell Pierce       Aldis Hodge

[242 rows x 3 columns]

In [ ]:
df_2019['director_name'] = director

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_2019 = pd.merge(df_2019, actors, left_index=True, right_index=True)

In [ ]:
df_2019['actor_1_name'][0].strip()

'Taylor Russell'

In [ ]:
round(df_2019.isnull().sum().sort_values(ascending=False)/len(df_2019)*100,2)

actor_3_name     6.20
actor_2_name     0.41
Title            0.00
Cast and crew    0.00
genres           0.00
director_name    0.00
actor_1_name     0.00
dtype: float64

In [ ]:
df_2019.dropna(how='any',inplace=True)

In [ ]:
df_2019

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Escape Room,"Adam Robitel (director); Bragi F. Schut, Maria...",Horror Thriller Mystery,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll
1,Rust Creek,Jen McGowan (director); Julie Lipson (screenpl...,Thriller Drama,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan
2,American Hangman,Wilson Coneybeare (director/screenplay); Donal...,Thriller,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis
3,A Dog's Way Home,Charles Martin Smith (director); W. Bruce Came...,Drama Adventure Family,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp
4,The Upside,Neil Burger (director); Jon Hartmere (screenpl...,Comedy Drama,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman
...,...,...,...,...,...,...,...
237,Spies in Disguise,"Nick Bruno, Troy Quane (directors); Brad Copel...",Animation Action Adventure Comedy Family,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones
238,Little Women,Greta Gerwig (director/screenplay); Saoirse Ro...,Drama Romance,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh
239,1917,Sam Mendes (director/screenplay); Krysty Wilso...,War Drama Action Thriller,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong
240,Just Mercy,"Destin Daniel Cretton (director/screenplay), A...",Drama Crime History,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson
241,Clemency,Chinonye Chukwu (director/screenplay); Alfre W...,Drama,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge

In [ ]:
df_2019['Title'] = df_2019['Title'].str.lower()

In [ ]:
df_2019 = df_2019.rename(columns={'Title':'movie_title'})

In [ ]:
new_df19 = df_2019.loc[:,['movie_title','director_name', 'genres','actor_1_name', 'actor_2_name','actor_3_name']]

In [ ]:
new_df19['comb'] = new_df19['director_name'] +' ' + new_df19['genres']+' '+ new_df19['actor_1_name'] + ' ' + new_df19['actor_2_name'] + ' '+ new_df19['actor_3_name']

## Task 2: Gather 2018 and 2019 movies data

In [ ]:
my_df = new_df18.append(new_df19,ignore_index=True)

In [ ]:
my_df

,movie_title,director_name,genres,actor_1_name,actor_2_name,actor_3_name,comb
0,insidious: the last key,Adam Robitel,Horror Mystery Thriller,Lin Shaye,Angus Sampson,Leigh Whannell,Adam Robitel Horror Mystery Thriller Lin Shaye...
1,the strange ones,Lauren Wolkstein,Thriller Drama,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Lauren Wolkstein Thriller Drama Alex Pettyfer ...
2,stratton,Simon West,Action Thriller,Dominic Cooper,Austin Stowell,Gemma Chan,Simon West Action Thriller Dominic Cooper Aust...
3,sweet country,Warwick Thornton,Drama History Western,Bryan Brown,Sam Neill,None,NaN
4,the commuter,Jaume Collet-Serra,Action Thriller Mystery,Liam Neeson,Vera Farmiga,Patrick Wilson,Jaume Collet-Serra Action Thriller Mystery Lia...
...,...,...,...,...,...,...,...
494,spies in disguise,"Nick Bruno, Troy Quane",Animation Action Adventure Comedy Family,Will Smith,Tom Holland,Rashida Jones,"Nick Bruno, Troy Quane Animation Action Advent..."
495,little women,Greta Gerwig,Drama Romance,Saoirse Ronan,Emma Watson,Florence Pugh,Greta Gerwig Drama Romance Saoirse Ronan Emma ...
496,1917,Sam Mendes,War Drama Action Thriller,George MacKay,Dean-Charles Chapman,Mark Strong,Sam Mendes War Drama Action Thriller George Ma...
497,just mercy,Destin Daniel Cretton,Drama Crime History,Michael B. Jordan,Jamie Foxx,Brie Larson,Destin Daniel Cretton Drama Crime History Mich...
498,clemency,Chinonye Chukwu,Drama,Alfre Woodard,Wendell Pierce,Aldis Hodge,Chinonye Chukwu Drama Alfre Woodard Wendell Pi...

In [ ]:
old_df = pd.read_csv(path_dir+'/'+'new_data.csv')

In [ ]:
old_df

,movie_title,director_name,genres,actor_1_name,actor_2_name,actor_3_name,comb
0,avatar,James Cameron,Action Adventure Fantasy Sci-Fi,CCH Pounder,Joel David Moore,Wes Studi,James Cameron Action Adventure Fantasy Sci-Fi ...
1,pirates of the caribbean: at world's end,Gore Verbinski,Action Adventure Fantasy,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski Action Adventure Fantasy Johnny...
2,spectre,Sam Mendes,Action Adventure Thriller,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes Action Adventure Thriller Christoph...
3,the dark knight rises,Christopher Nolan,Action Thriller,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan Action Thriller Tom Hardy Ch...
4,star wars: episode vii - the force awakens,Doug Walker,Documentary,Doug Walker,Rob Walker,unknown,Doug Walker Documentary Doug Walker Rob Walker...
...,...,...,...,...,...,...,...
5356,the incredible jessica james,Jim Strouse,Romance Comedy,Jessica Williams,Chris O'Dowd,Keith Stanfield,Jim Strouse Romance Comedy Jessica Williams Ch...
5357,can't buy my love,Farhad Mann,Romance,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Farhad Mann Romance Adelaide Kane Benjamin Hol...
5358,thick lashes of lauri mÃ¤ntyvaara,Hannaleena Hauru,Romance Comedy,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Hannaleena Hauru Romance Comedy Inka HaapamÃ¤ki...
5359,cop and a half: new recruit,Jonathan A. Rosenbaum,Crime Comedy Action Family,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Jonathan A. Rosenbaum Crime Comedy Action Fami...
5360,mom,Ravi Udyawar,Crime Drama Thriller,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Ravi Udyawar Crime Drama Thriller Sridevi Kapo...

In [ ]:
final_df = old_df.append(my_df,ignore_index=True)

In [ ]:
final_df

,movie_title,director_name,genres,actor_1_name,actor_2_name,actor_3_name,comb
0,avatar,James Cameron,Action Adventure Fantasy Sci-Fi,CCH Pounder,Joel David Moore,Wes Studi,James Cameron Action Adventure Fantasy Sci-Fi ...
1,pirates of the caribbean: at world's end,Gore Verbinski,Action Adventure Fantasy,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski Action Adventure Fantasy Johnny...
2,spectre,Sam Mendes,Action Adventure Thriller,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes Action Adventure Thriller Christoph...
3,the dark knight rises,Christopher Nolan,Action Thriller,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan Action Thriller Tom Hardy Ch...
4,star wars: episode vii - the force awakens,Doug Walker,Documentary,Doug Walker,Rob Walker,unknown,Doug Walker Documentary Doug Walker Rob Walker...
...,...,...,...,...,...,...,...
5855,spies in disguise,"Nick Bruno, Troy Quane",Animation Action Adventure Comedy Family,Will Smith,Tom Holland,Rashida Jones,"Nick Bruno, Troy Quane Animation Action Advent..."
5856,little women,Greta Gerwig,Drama Romance,Saoirse Ronan,Emma Watson,Florence Pugh,Greta Gerwig Drama Romance Saoirse Ronan Emma ...
5857,1917,Sam Mendes,War Drama Action Thriller,George MacKay,Dean-Charles Chapman,Mark Strong,Sam Mendes War Drama Action Thriller George Ma...
5858,just mercy,Destin Daniel Cretton,Drama Crime History,Michael B. Jordan,Jamie Foxx,Brie Larson,Destin Daniel Cretton Drama Crime History Mich...
5859,clemency,Chinonye Chukwu,Drama,Alfre Woodard,Wendell Pierce,Aldis Hodge,Chinonye Chukwu Drama Alfre Woodard Wendell Pi...

In [ ]:
final_df.isnull().sum()

movie_title       0
director_name     0
genres            0
actor_1_name      0
actor_2_name     10
actor_3_name     27
comb             27
dtype: int64

In [ ]:
final_df.to_csv(path_dir+'/'+'final_data.csv',index=False)